<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1></h1>

    <fieldset>
        <legend>Register</legend>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>Name: <input type="text" name="name" placeholder="Enter your name here"></p>
            <p>Alias: <input type="text" name="alias" placeholder="Enter your username here"></p>
            <p>E-mail: <input type="email" name="email" placeholder="Enter your e-mail here"></p>
            <p>Password: <input type="password" name="password" placeholder="Enter your password here"></p>
            <p>Confirm Password: <input type="password" name="confirm" placeholder="Confirm your password"></p>
            <p>Date of birth: <input type="date" name="dob" placeholder="Enter your date of birth here"></p>
            
            <button type="submit">Register!</button>
        </form>
    </fieldset>
    <fieldset>
        <legend>Login</legend>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>E-mail: <input type="text" name="email" placeholder="Enter your email here"></p>
            <p>Password: <input type="password" name="password" placeholder="Enter your password here"></p>
            <button type="submit">Login!</button>
        </form>
    </fieldset>
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}

</body>
</html>