<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User's Details</title>
</head>
<body>
    <h1>{{this_user.alias}}'s Profile</h1>

    <p>Name: {{this_user.name}}</p>
    <p>E-mail Address: {{this_user.email}}</p>

    <p><a href="/dashboard"><button>Home</button></a></p>
    <p><a href="/logout"><button>Logout</button></a></p>
</body>
</html>